<template>
    <footer class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-4 foot_left text-left">
                    <!-- <p><img src="../assets/img/conectagro.png" width="200"></p> -->
                    <h6>Siguenos</h6>
                    <p class="redes">
                        <b-button href="#" variant="no-light" size="sm">
                            <img src="../assets/svg/facebook.svg" width="30" alt="">
                        </b-button>
                        <b-button href="#" variant="no-light" size="sm">
                            <img src="../assets/svg/twitter.svg" width="30" alt="">
                        </b-button>
                        <b-button href="#" variant="no-light" size="sm">
                            <img src="../assets/svg/youtube.svg" width="30" alt="">
                        </b-button>
                    </p>
                </div>
                <div class="col-md-3 col-4 links">
                    <router-link to="/">Nosotros</router-link>
                    <router-link to="/">Contáctanos</router-link>
                    <router-link to="/">Blog</router-link>
                </div>
                <div class="col-md-3 col-4 links">
                    <router-link to="/">Terminos y condicionaes</router-link>
                    <router-link to="/">Políticas privacidad</router-link>
                    <router-link to="/">Conectagro.org</router-link>
                </div>
                <div class="col-md-3 col-12">
                    <p>
                        <b-button href="https://play.google.com/store/apps/details?id=app.ernestochira.com.conectagromarket&hl=es" variant="danger" size="sm" class="google_play">
                            <img src="../assets/svg/google-play.svg" width="40" class="float-left">
                            <span>Disponible en</span><br>
                            <span>GOOGLE PLAY</span>
                        </b-button>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
export default {
}
</script>

<style lang="sass" scoped>
    footer{
        color: #fff;
        padding: 40px 0;
        font-size: 11px;
        margin-top: 120px;
        background: #495057;
        font-family: "Lato", sans-serif;
        p{
            color: #fff;
            margin-bottom: 0;
            letter-spacing: 1px;
        }
        .links{
            a{
                width: 100%;
                color: #fff;
                float: left;
                display: block;
                font-size: 12px;
                text-align: left;
            }
        }
        .redes{
            .btn-sm{
                padding: 3px !important;
            }
        }
        .google_play{
            width: 180px;
            padding: 10px;
            font-size: 12px;
            background: #000;
            border-radius: 5px;
            border: 0;
            span{
                font-size: 12px;
                font-weight: 700;
            }
        }
    }
</style>
