<template>
    <header class="container-fluid fixed-top" id="header">
        <div class="row">
            <div class="col-12 menu-principal">
                <nav class="navbar navbar-expand-md fixed-top">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <router-link to="/">
                            <img src="../assets/svg/menu.svg" width="20">
                        </router-link>
                    </button>
                    <router-link class="navbar-brand logo" to="/">
                        <img src="../assets/img/conectagro-market-white.png" width="180">
                    </router-link>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <router-link to="/login">Iniciar sesión</router-link>
                            </li>
                            <li class="nav-item">
                                <router-link to="/registro">Registro</router-link>
                            </li>
                            <!-- <li class="nav-item">
                                <router-link to="/vender">Vender</router-link>
                            </li> -->
                            <li>
                                <carrito-compra></carrito-compra>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
</template>

<script>
    export default {
        name: "header",
        data: () => ({
            counter: 0
        })
    }
</script>

<style lang="sass">
    .menu-principal{
        color: #fff;
        line-height: 60px;
        .navbar{
            max-height: 57px;
            padding: 0 !important;
            .navbar-nav{
                .nav-item{
                    a{
                        color: #fff;
                        height: 60px;
                        padding: 0 15px;
                        font-size: 14px;
                        font-weight: 700;
                        max-height: 58px;
                        display: inline-block;
                        text-decoration: none;
                        border-left: 1px solid rgba(255,255,255,.2);
                        &:hover{
                            color: rgba(255,255,255,.5);
                        }
                    }
                }
            }
        }
    }
</style>

<style lang="sass" scoped>

    header{
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        z-index: 99;
        position: fixed;
        background: #ef6e05;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px;
        > .row{
            height: 45px
        }
        .bg-light{
            background: transparent !important;
        }
        .logo{
            img{
                margin: 5px 10px;
            }
        }
        .menu-principal{
            color: #fff;
            line-height: 60px;
            .navbar{
                max-height: 57px;
                padding: 0 !important;
                .navbar-nav{
                    .nav-item{
                        a{
                            color: #fff;
                            height: 60px;
                            padding: 0 15px;
                            font-size: 14px;
                            font-weight: 700;
                            max-height: 58px;
                            display: inline-block;
                            text-decoration: none;
                            border-left: 1px solid rgba(255,255,255,.2);
                            &:hover{
                                color: rgba(255,255,255,.5);
                            }
                        }
                    }
                }
            }
        }
        .search{
            padding: 10px 0;
            .btn{
                border: 0;
                background: transparent;
            }
            input{
                border: 0;
                font-weight: 700;
                background: transparent;
            }
        }
        
    }


</style>
