<template>
    <div class="home" id="home">
        <div class="container-fluid hidden-sm-down">
            <div class="row">
                <div id="carouselPrincipal" class="carousel fade-carousel slide" data-ride="carousel" data-interval="3000">
                    <div class="carousel-inner" role="listbox" >
                        <buscador categorias="categorias.data"></buscador>
                    </div>
                </div>

            </div>
        </div>

        <div class="container content_main">

            <div class="row">
                <div class="col-md-2 hidden-sm-down border-right">
                    <div class="row">
                        <div class="title_section text-left">
                            Categorías
                        </div>
                        <div class="filtros text-left">
                            <listado-categorias :categorias="publicCategory.data"></listado-categorias>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-12">
                    <div class="row">
                        <div class="title_section text-left">
                            Productos Destacados
                        </div>
                    </div>
                    <productos-destacados :productos="publicProduct.data"></productos-destacados>
                </div>
            </div>

        </div>

        <div class="container pd_50 seccion_home como_funciona">
            <div class="row">
                <div class="col text-center">
                    <h2 class="">Cómo funciona</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-12 text-center">
                    <img src="../assets/svg/icon-search.svg" width="80" alt="">
                    <h4>Busca tu producto agricola</h4>
                    <img src="../assets/svg/arrow-right.svg" class="arrow hidden-sm-down" width="40" alt="">
                </div>
                <div class="col-md-4 col-12">
                    <img src="../assets/svg/icon-shop.svg" width="80" alt="">
                    <h4>Agregalo al carrito de compra y pague al instante.</h4>
                    <img src="../assets/svg/arrow-right.svg" class="arrow hidden-sm-down" width="40" alt="">
                </div>
                <div class="col-md-4 col-12">
                    <img src="../assets/svg/icon-box.svg" width="80" alt="">
                    <h4>Recibe tu pedido en tu hogar.</h4>
                </div>
            </div>
        </div>

        <div class="container-fluid  pd_50 bg_blank seccion_home nos_respaldan">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h2 class="">Nos respaldan</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-12">
                        
                    </div>
                    <div class="col-md-4 col-12">
                        
                    </div>
                    <div class="col-md-4 col-12">
                        
                    </div>
                    <div class="col-md-4 col-12">
                        
                    </div>
                </div>
                <div class="row">
                    <swiper :options="swiperOption" :not-next-tick="notNextTick" ref="mySwiper">
                        <!-- slides -->
                        <swiper-slide><img src="../assets/img/sierra-selva-exportadora.jpg" width="100" alt=""></swiper-slide>
                        <swiper-slide><img src="../assets/img/startup-peru.png" width="150" alt=""></swiper-slide>
                        <swiper-slide><img src="../assets/img/incubadora-san-marcos.png" class="img-fluid" alt=""></swiper-slide>
                        <swiper-slide><img src="../assets/img/minagri.png" width="150" alt=""></swiper-slide>
                        <!-- Optional controls -->
                        <!-- <div class="swiper-pagination"  slot="pagination"></div> -->
                        <!-- <div class="swiper-button-prev" slot="button-prev"></div> -->
                        <div class="swiper-button-next" slot="button-next"></div>
                        <!-- <div class="swiper-scrollbar"   slot="scrollbar"></div> -->
                    </swiper>
                </div>
            </div>
        </div>

        <!-- <div class="container-fluid pd_50 seccion_home tiendas_registradas">
            <div class="row">
                <div class="col text-center">
                    <h2 class="">Tiendas registradas</h2>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">1</div>
                    <div class="col">2</div>
                    <div class="col">3</div>
                    <div class="col">4</div>
                    <div class="col">5</div>
                    <div class="col">6</div>
                </div>
            </div>
        </div> -->

    </div>

</template>

<script>
    import Buscador from '../components/Search.vue';
    import axios from 'axios';

    import { getPublicProduct } from '../utils/conectagro-api'
    import { getPublicCategory } from '../utils/conectagro-api'

    export default {
      name: 'home',
      data: () => ({
            categorias: [],
            productos: [],
            publicProduct: '',
            publicCategory: '',
            title: 'Inicio',
            description: 'Home',
            swiperOption: {
                pagination: '.swiper-pagination',
                slidesPerView: 4,
                paginationClickable: true,
                spaceBetween: 30
            }
      }),
      methods: {
          getPublicProduct(){
            getPublicProduct().then((product) => {
                this.publicProduct = product
            })
          },
          getPublicCategory(){
            getPublicCategory().then((category) => {
                this.publicCategory = category
            })
          }
      },
      mounted: function() {
          this.getPublicProduct();
          this.getPublicCategory();
      },
      head: {
        title: function () {
          return {
            inner: this.title
          }
        },
        meta: function () {
          return [
            { name: 'sss', content: this.description }
          ]
        }
      },
      components:{
          Buscador
      }
    }
</script>

<style lang="sass">
    @import '../assets/sass/productos.sass';
    @import '../assets/sass/variables.sass';
    @import '../assets/sass/homes.sass';
</style>
