<template>

    <div class="registro" id="registro">
        <div class="container-fluid">
            <div class="row">
                <div id="carouselPrincipal" class="carousel fade-carousel slide" data-ride="carousel" data-interval="3000">
                    <div class="carousel-inner" role="listbox" >
                        <div class="carousel-caption">
                            <h4 class="text-center text-uppercase">Iniciar sesión</h4>
                            <h6 class="text-center">Miles de productos agricolas a un clic</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-6 col-12 content_main">
                    <form @submit="onSubmit" class="formRegistro">
                        <b-form-group id="InputGroup4" class="col-6 float-left"
                            label="Correo electrónico:" label-for="inputEmail">
                            <b-form-input id="inputEmail"
                                type="email" v-model="form.email" required
                                placeholder="Ingresar correo electrónico...">
                            </b-form-input>
                        </b-form-group>
                        <b-form-group id="InputGroup5" class="col-6 float-right"
                            label="Contraseña:" label-for="inputPwd">
                            <b-form-input id="inputPwd"
                                type="password" v-model="form.pwd" required
                                placeholder="Ingresar contraseña...">
                            </b-form-input>
                        </b-form-group>
                        <b-button type="submit" variant="primary" class="text-uppercase">Ingresar</b-button>
                        <p>
                            <router-link to="/">¿olvide mi contraseña?</router-link>
                        </p>
                        <!-- <p class="redes">
                            <b-button href="#" variant="primary" size="sm">
                                <img src="../assets/svg/fb.svg" width="20"> FACEBOOK
                            </b-button>
                            <b-button href="#" variant="danger" size="sm">
                                <img src="../assets/svg/gp.svg" width="20"> GOOGLE
                            </b-button>
                        </p> -->
                        <p>
                            ¿Nuevo aquí? <router-link to="/registro">REGISTRATE</router-link>
                        </p>
                    </form>
                </div>
            </div>
        </div>

    </div>

</template>

<script>
    export default {
        data: () => ({
            form: {
                username: '',
                password: ''
            },
            title: 'Inicio de Sesión'
        }),
        head: {
          // To use "this" in the component, it is necessary to return the object through a function
          title: function () {
            return {
              inner: this.title
            }
          },
          meta: [
            { name: 'description', content: 'My description', id: 'desc' }
          ]
        },
        methods: {
          onSubmit(evt) {
            evt.preventDefault();
            alert(JSON.stringify(this.form));
          }
        }
    };
</script>

<style lang="sass">
    @import '../assets/sass/variables.sass';
    @import '../assets/sass/form.sass';
</style>
