<template>

    <div class="registro" id="registro">
        <div class="container-fluid">
            <div class="row">
                <div id="carouselPrincipal" class="carousel fade-carousel slide" data-ride="carousel" data-interval="3000">
                    <div class="carousel-inner" role="listbox" >
                        <div class="carousel-caption">
                            <h4 class="text-center text-uppercase">PUT</h4>
                            <h6 class="text-center">Miles de productos agricolas a un clic</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-6 col-12 content_main">
                    <form @submit="onSubmit" class="formRegistro">
                        <b-form-group id="InputGroup4" class="col-12 float-left"
                            label="ID tienda para actualizar estado:" label-for="inputID">
                            <b-form-input id="inputID"
                                type="text" v-model="form.id" required
                                placeholder="ID Tienda...">
                            </b-form-input>
                        </b-form-group>
                        <b-button type="submit" variant="primary" class="text-uppercase">Actualizar</b-button>
                    </form>
                </div>
            </div>
        </div>

    </div>

</template>

<script>
    import axios from 'axios';

    export default {
        data: () => ({
            form: {
                id: ''
            },
            title: 'Update Tienda'
        }),
        head: {
          title: function () {
            return {
              inner: this.title
            }
          },
          meta: [
            { name: 'description', content: 'My description', id: 'desc' }
          ]
        },
        methods: {
          putEstado: function(){
            axios.put(`http://ws.conectagro.com/api/clientes/1/tiendas`,
                { 
                    nombre: 'Tienda PUT sss',
                    estado: '0'
                },
                {
                    headers: { 'Access-Control-Allow-Origin': '*'},
                    headers: { 'Content-Type': 'application/json' },
                }
            )
            .then(response => {
                // this.productos = response.data
                console.log(response)
                // alert('Update cliente: 1')
            })
            .catch(e => {
                console.log('Error----')
                console.log(e)
            })
          },
          onSubmit(evt) {
            evt.preventDefault();
            alert(JSON.stringify(this.form));
            this.putEstado();
          },
        },
        mounted: function(){
            //this.putEstado();
        }
    };
</script>

<style lang="sass">
    @import '../assets/sass/variables.sass';
    @import '../assets/sass/form.sass';
</style>
