<template>

    <div class="registro" id="registro">
        <div class="container-fluid">
            <div class="row">
                <div id="carouselPrincipal" class="carousel fade-carousel slide" data-ride="carousel" data-interval="3000">
                    <div class="carousel-inner" role="listbox" >
                        <div class="carousel-caption">
                            <h4 class="text-center text-uppercase">Registro</h4>
                            <h6 class="text-center">Miles de productos agricolas a un clic</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-6 col-12 content_main">
                    <form @submit="onSubmit" class="formRegistro">
                        <div id="InputGroup1" class="form-group col-6 float-left">
                            <label for="inputUsuario">Correo Electrónico</label>
                            <p :class="{ 'control': true }">
                                <input v-validate="'required|email'" name="email" :class="{'input form-control': true, 'is-danger': errors.has('email') }" id="inputUsuario" type="email"  v-model="form.email" placeholder="Ingresar correo electrónico...">
                                <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
                            </p>
                        </div>
                        <div id="InputGroup2" class="form-group col-6 float-left">
                            <label for="inputPwd">Contraseña</label>
                            <input class="form-control" id="inputPwd" type="password" v-model="form.password" required placeholder="Ingresar contraseña...">
                        </div>
                        <div class="form-group col-12 float-left text-center">
                            <button type="submit" class="btn text-uppercase">Registrarme</button>
                        </div>
                        <p>Al registrarme acepto los termino y condiciones de Conectagro Market</p>
                    </form>
                </div>
            </div>
        </div>

    </div>

</template>

<script>
    export default {
        data: () => ({
            form: {
                email: '',
                password: ''
            },
            title: 'Registro'
        }),
        head: {
          // To use "this" in the component, it is necessary to return the object through a function
          title: function () {
            return {
              inner: this.title
            }
          },
          meta: [
            { name: 'description', content: 'My description', id: 'desc' }
          ]
        },
        methods: {
          onSubmit(evt) {
            evt.preventDefault();
            alert(JSON.stringify(this.form));
          }
        }
    };
</script>

<style lang="sass">
    @import '../assets/sass/variables.sass';
    @import '../assets/sass/form.sass';
</style>
