<template>
    <div class="carousel-caption">
        <h5 class="text-center text-uppercase">Miles de productos agricolas a un clic</h5>
        <div class="container container-search">
            <div class="row no-gutters">
                <form @submit="onSubmit" class="form-inline" id="form-search">
                    <div class="form-group col-2">
                        <div class="select_bg">
                            <select class="form-control" name="" v-model="form.categoria">
                                <option value="" selected>Sel. categoría</option>
                                <option :value="item.id" v-for="item in categorias.data" v-html="item.nombre"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-8">
                        <input id="inputSearch" class="form-control" type="text" v-model="form.search" required placeholder="Palabra clave...">
                    </div>
                    <div class="form-group col-2">
                        <button type="submit" class="btn">
                            <img src="../assets/svg/search.svg" width="20" alt=""> buscar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        methods: {
            getCategoria: function(){
                axios.get(`http://ws.conectagro.com/api/categorias`)
                .then(response => {
                    this.categorias = response.data
                })
                .catch(e => {
                    this.errors.push(e)
                })
            },
            onSubmit(evt) {
                evt.preventDefault();
                alert(JSON.stringify(this.form));
            }
        },
        mounted: function() {
            this.getCategoria();
        },
        data: () => ({
            form: {
                search: ''
            },
            categorias: []
        })
    };
</script>

<style lang="sass">
    .carousel-caption{
        left: 0%;
        right: 0%;
        color: #fff;
        bottom: initial;
        text-align: left;
        top: 30% !important;

        h6{
            color: #fff;
            font-size: 14px;
            font-weight: 800;
            line-height: 28px;
        }
        h5{
            color: #fff;
            font-size: 18px;
            font-weight: 800;
            line-height: 28px;
        }
        h4{
            color: #fff;
            font-size: 28px;
            font-weight: 800;
            line-height: 28px;
        }

        form{
            border-radius: 60px;
            overflow: hidden;
            width: 100% !important;
            .form-group{
                padding: 0;
            }
            .form-control{
                border: 0;
                padding: 10px 30px;
                flex: initial !important;
            }
            input[type="text"].form-control{
                z-index: 4;
                font-weight: 900;
                width: 100%;
                height: 50px !important;
                border-radius: 50px !important;
            }
            .select_bg{
                background: #83b94c;
                width: 130%;
                position: relative;                
                padding: 0 20px;
                margin-right: -30%;
            }
            select.form-control{
                z-index: 2;
                float: left;
                color: #fff;
                width: 100%;
                font-weight: 900;
                line-height: 40px;
                border-radius: 50px;
                height: 50px !important;
                flex: initial !important;
                background: #83b94c;
                background-repeat: no-repeat;
                background-size: 14px;
                background-position: 70% center;
                background-image: url('../assets/svg/arrow-select.svg');
            }
            button.btn{
                color: #fff;
                font-size: 14px;
                font-weight: 900;
                padding: 15px 20px;
                margin-left: -30%;
                background: #0b91f1;
                letter-spacing: 1px;
                border-radius: 50px;
                width: 130% !important;
                float: left !important;
                height: 50px !important;
                flex: initial !important;
                width: calc(100% - 40px);
                text-transform: uppercase;
            }
        }

    }
    .container-search{
        padding: 0;
    }
</style>
