<template>
    <div id="app">

        <OfflineIndicator message="Oh no, tú conexión de red o internet no es estable :("></OfflineIndicator>
        <auto-progress/>

        <navigation></navigation>

        <transition name="fade" mode="out-in" appear>
            <router-view></router-view>
        </transition>

        <piepagina></piepagina>

    </div>
</template>

<script>
    import Navigation from './components/Header.vue';
    import Piepagina from './components/Footer.vue';
    import { OfflineIndicator } from 'vue-online';
    import autoProgress from 'vue-auto-progress';

    export default {
      name: 'app',
      data: () => ({}),
      components: {
          Navigation,
          Piepagina,
          OfflineIndicator,
          autoProgress
      }
    }
</script>
<style lang="sass">
    @import './assets/sass/conectagromarket.sass';
</style>
