body
    outline-color: none
    outline-width: 0

.fade-enter-active, .fade-leave-active
    transition: opacity 0.3s

.fade-enter, .fade-leave-active
    opacity: 0

.offline-indicator
    top: 0
    border: 0
    z-index: 9999
    position: fixed
    font-size: 30px
    border-radius: 0
    border: 0 !important
    margin: 0 !important
    color: #fff !important
    background: red !important

#app
    color: #2c3e50
    text-align: center
    letter-spacing: 1px
    background: #f3f3f3
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    font-family: 'Oxygen', Helvetica, Arial, sans-serif
