.formRegistro
    padding: 50px 0px
    .form-group
        label
            text-align: left
            span
                color: #555
                font-size: 14px
                font-weight: bold
        input
            border: 0
            font-size: 12px
            border-radius: 0
            padding-left: 0
            padding-right: 0
            border-bottom: 2px solid $color_principal
    button
        border: 0
        color: #ffffff
        margin: 20px 0
        font-size: 12px
        font-weight: 700
        letter-spacing: 1px
        background: $color_secundario
        &:hover
            background: $color_secundario
    p
        font-size: 12px
    .redes
        a
            font-size: 12px
            font-weight: 700