.border-right
    border-right: 1px solid #f1f1f1

.border-bottom
    border-bottom: 1px solid #f1f1f1

#carouselPrincipal.slide
    width: 100%
    background: #ef6e05
    background: -moz-linear-gradient(top, #ef6e05 0%, #c95006 100%)
    background: -webkit-linear-gradient(top, #ef6e05 0%, #c95006 100%)
    background: linear-gradient(to bottom, #ef6e05 0%, #c95006 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef6e05', endColorstr='#c95006', GradientType=0)
    .carousel-inner
        height: 100vh
        max-height: 250px
    .carousel-item
        height: 100%
        max-height: 600px
        background-size: cover
        -o-background-size: cover
        -moz-background-size: cover
        -webkit-background-size: cover
        background-position: center
        background-repeat: no-repeat
    .carousel-indicators
        bottom: 50px
        li
            height: 12px
            border-radius: 50px
            border: 4px solid #959595
            max-width: 12px !important
            background-color: transparent !important
        li.active
            background: #ebebeb
            border: 5px solid #ebebeb

.content_main
    margin-top: -40px
    background: #ffffff
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 25px

.title_section
    width: 100%
    color: #888
    font-size: 18px
    font-weight: 900
    padding: 20px 30px
    letter-spacing: .5px
    text-transform: uppercase
    border-bottom: 1px solid #f1f1f1

.filtros
    width: 100%
    h6 
        color: #000
        padding: 20px 0
        font-size: 14px
        font-weight: 900
        margin-bottom: 0
        text-transform: uppercase
    .card
        border: 0
        width: 100%
        .card-body
            ul
                padding-left: 15px
                li
                    padding: 3px 0
                    a
                        color: $color_principal
                        font-size: 14px
                        font-weight: 700
                    .count
                        padding: 10px
                        display: inline-block

.seccion_home
    h4
        color: #555
        padding: 40px 40px 0 40px
        font-size: 20px
        font-weight: 700
        line-height: 28px

.como_funciona,
.nos_respaldan,
.tiendas_registradas
    h2
        margin-bottom: 30px

.como_funciona
    .arrow
        top: 40px
        right: -20px
        position: absolute

.badge-primary
    padding-left: 10px
    padding-right: 10px
    border-radius: 10px
    background: #17a2b8 !important
