@import '../assets/sass/variables.sass'

article
    .card
        border: 0
        .card-picture
            width: 100%
            display: flex
            flex-wrap: wrap
            min-height: 220px
            max-height: 220px
            overflow-y: hidden
            -ms-flex-wrap: wrap
            display: -ms-flexbox
            background: url('../assets/img/img-none.jpg') center
            background-size: cover
            overflow: hidden !important
            a
                overflow: hidden !important
                img
                    -webkit-transition: all 200ms ease-in
                    -webkit-transform: scale(1)
                    -ms-transition: all 200ms ease-in
                    -ms-transform: scale(1)
                    -moz-transition: all 200ms ease-in
                    -moz-transform: scale(1)
                    transition: all 200ms ease-in
                    transform: scale(1)
                    &:hover
                        -webkit-transition: all 200ms ease-in
                        -webkit-transform: scale(1.5)
                        -ms-transition: all 200ms ease-in
                        -ms-transform: scale(1.5)
                        -moz-transition: all 200ms ease-in
                        -moz-transform: scale(1.5)
                        transition: all 200ms ease-in
                        transform: scale(1.5)

        .card-body
            border-radius: 0 0 5px 5px
            background-color: #ffebdb

            a.btn, button
                border: 0
                right: 15px
                width: 40px
                height: 40px
                bottom: 15px
                position: absolute
                border-radius: 50px
                background: $color_principal
                &:focus
                    box-shadow: 0 0 0 3px rgb(204, 91, 0)

            p
                color: #555
                font-size: 14px
                text-align: left
                font-weight: 900
                margin-bottom: 0px

            h2
                width: 90%
                min-height: 42px
                text-align: left
                line-height: 18px
                a
                    color: #555
                    font-size: 18px
                    font-weight: 700
                    text-align: left !important
                    border-radius: 10px !important


.top-progress
    background-color: $color-secundario !important