$color_principal: #ef6e05
$color_secundario: #83b94c

.mg-top-15
    margin-top: 15px

.mg-bottom-15
    margin-bottom: 15px

.pd_25
    padding-top: 25px
    padding-bottom: 25px

.pd_50
    padding-top: 50px
    padding-bottom: 50px

.bg_blank
    background: #fff

.badge
    border-radius: 50px
    background: $color_secundario
